.offer-section{
    background: #FFFFFF;
    padding: 120px 104px 122px;
    text-align: center;
}

.offer-title::after{
    content: "";
    border-bottom: #F5BD41 4px solid;
    position: absolute;
    top: 142%;
    background-color: #F5BD41;
    width: 100px;
    left: 50%;
    transform: translate(-50%,50%);
}

.advantages-panel{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.advantage-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 7.3em;
    width: 12em ;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #383838;
    position: relative;
}

.support-online a{
    background: url("../assets/img/LinkedSprite.svg#support");
    margin-top:4px;
    width: 75px;
    height: 92px;
}

.communicate-directly a{
    background: url("../assets/img/LinkedSprite.svg#community-directly");
    margin-top: 8px;
    width: 84px;
    height: 84px;
}

.book-online a{
    background: url("../assets/img/LinkedSprite.svg#book-online");
    margin-top: 17px;
    width: 100px;
    height: 67px;
}

.guest-reviews a{
    background: url("../assets/img/LinkedSprite.svg#reviews");
    margin-top: 4px;
    width: 92px;
    height: 84px;
}

.advantage-item::after{
    text-decoration: none;
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.support-online::after{
    content: "Support 24/7";
}

.communicate-directly::after{
    content: "Communicate directly";
}

.book-online::after{
    content: "Book online";
}

.guest-reviews::after{
    content: "Real guest reviews";
}

@media (max-width: 1280px) {
    .offer-section{
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (max-width: 768px) {
    .offer-section{
        padding-bottom: 40px;
        padding-top: 24px;
    }

    .advantages-panel{
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 80px;
    }

    .advantage-item{
        width: 50%;
        justify-content: space-around;
    }
}

@media (max-width: 520px){
    h2+hr{
        display: none;
    }

    .offer-title{
        font-size: 28px;
        line-height: 33px;
        margin: 0;
    }

    .advantages-panel{
        margin: 0;
        flex-direction: column;
    }

    .advantage-item{
        width: 100%;
        margin-top: 32px;
        height: 7em;
        font-size: 15px;
        line-height: 18px;
    }

    .support-online a{
        width: 53px;
        height: 65px;
    }

    .communicate-directly a{
        width: 59px;
        height: 59px;
    }

    .book-online a{
        width: 70px;
        height: 47px;
    }

    .guest-reviews a{
        width: 65px;
        height: 59px;
    }
}

