.offer-section{
    background: #FFFFFF;
    padding: 120px 104px 122px;
    text-align: center;
}

.offer-title::after{
    content: "";
    border-bottom: #F5BD41 4px solid;
    position: absolute;
    top: 142%;
    background-color: #F5BD41;
    width: 100px;
    left: 50%;
    transform: translate(-50%,50%);
}

.advantages-panel{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #383838;
}

.advantage-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 8em;
    width: 12em ;
}

[src="../assets/LinkedSprite.svg#support"]{
    margin-top:4px;
    width: 75px;
    height: 92px;
}

[src="../assets/LinkedSprite.svg#community-directly"]{
    margin-top: 8px;
    width: 84px;
    height: 84px;
}

[src="../assets/LinkedSprite.svg#book-online"]{
    margin-top: 17px;
    width: 100px;
    height: 67px;
}

[src="../assets/LinkedSprite.svg#reviews"]{
    margin-top: 4px;
    width: 92px;
    height: 84px;
}

@media (max-width: 1280px) {
    .offer-section{
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (max-width: 768px) {
    .offer-section{
        padding-bottom: 40px;
        padding-top: 24px;
    }

    .advantages-panel{
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 80px;
    }

    .advantage-item{
        width: 50%;
        justify-content: space-around;
    }
}

@media (max-width: 520px){
    h2+hr{
        display: none;
    }

    .offer-title{
        font-size: 28px;
        line-height: 33px;
        margin: 0;
    }

    .advantages-panel{
        margin: 0;
        flex-direction: column;
        font-size: 15px;
        line-height: 18px;
    }

    .advantage-item{
        width: 100%;
        margin-top: 32px;
        height: 7em;
        justify-content: space-between;
    }

    [src="../assets/LinkedSprite.svg#support"]{
        width: 53px;
        height: 65px;
    }

    [src="../assets/LinkedSprite.svg#community-directly"]{
        width: 59px;
        height: 59px;
    }

    [src="../assets/LinkedSprite.svg#book-online"]{
        width: 70px;
        height: 47px;
    }

    [src="../assets/LinkedSprite.svg#reviews"]{
        width: 65px;
        height: 59px;
    }
}

