/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../assets/fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../assets/fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../assets/fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../assets/fonts/roboto-v27-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
    font-style: normal;
}

.wrapper{
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

h2{
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #383838;
    position: relative;
}

h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #383838;
}

@media (max-width: 1440px), (min-width: 1440px) {
    .wrapper{
        max-width: 1440px;
    }
}

@media (max-width: 1280px) {
    .wrapper{
        max-width: 1280px;
    }
}

@media (max-width: 768px) {
    .wrapper{
        max-width: none;
    }
}
